@{
    ViewBag.Title = "IndustrialCleaning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">
                    &nbsp;Industrial Cleaning&nbsp;
                    <br>
                    <br>Servicing Sand Oil Grease Trap
                    <br>
                    <br>Servicing of S.O.G traps to Government requirements Minimal manual labour
                    required in clean up All loads safely disposed off at H:h&nbsp;landfill
                    site Disposal certificate issued with all loads\
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images\trap2.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\trap1.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\trap3.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">
                    Industrial Cleaning&nbsp;
                    <br>
                    <br>Emergency Spill CleanUp&nbsp;
                    <br>
                    <br>24Hr crew available for clean ups All necessary PPE available for most
                    hazardous material All equipment are SABS approved Spill kits available&nbsp;for
                    most road&nbsp;spillages
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images\spill2.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\spill3.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\spill4.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>