@{
    ViewBag.Title = "PestWeedControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">
                    Pest and Weed Control
                    <br>
                    <br>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images\pest1.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\pest2.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\pest3.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">Gardening and Tree Felling</p>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="~/Content/Images\pest4.jpg" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images\pest5.jpg" class="img-responsive">
                </div>
                <div class="col-md-4">
                    <img src="~/Content/Images\pest6.jpg" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
