@{
    ViewBag.Title = "WasteManagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">
                    Waste Management
                    <br>
                    <br>The Super Sucker
                    <br>
                    <br>&nbsp;12000 LT Capacity Running of a 6 Cylinder Deutz Motor Pump Capacity
                    6 inch Rootz Blower Hydraulic operated back door and lifting mechanism
                    for vacuum tight Sealing and Easy Offloading Fitted with Hazkem Spill Kit
                    Designed to work day and nightshift 8 x 60 Spotlights and Beacon/Emergency
                    Light This vehicle is ideally suited for Drain Cleaning Desludging of Tanks
                    Sucking up of Dirt/Debris and other Waste Products Ship Hull Cleaning /
                    Old Bunker Fuel Removal Long Distance Suction
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="~/Content/Images\supersucker1.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\supersucker2.jpg" class="img-responsive">
            </div>
            <div class="col-md-4">
                <img src="~/Content/Images\supersucker3.jpg" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">
                    <br>&nbsp;The Vacuum Tanker
                    <br>
                    <br>&nbsp;9000 LT Capacity Running Engine PTO Pump Capacity BG 50 Vein Pump
                    System Fitted with Hazkem Spill Kit Designed to work day and nightshift
                    3 x 60 Spotlights and Beacon/Emergency Light This vehicle is ideally suited
                    for Drain Cleaning Desludging of Tanks Sucking up of Dirt/Debris and other
                    Waste Products
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p class="lead text-center">
                    <br>&nbsp;The Hazardous Substance Vacuum Tanker
                    <br>
                    <br>&nbsp;9000 LT Capacity Suction of heavy viscous liquid products Fitted
                    with blower facility to discharge product into overhead tanks
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <img src="~/Content/Images\vacuum1.jpg" class="img-responsive">
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>
